version: "3.9"

services:
  db:
    build: ./db
    container_name: mysql_db
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  etl:
    build: ./etl
    container_name: etl_job
    env_file:
      - .env
    volumes:
      - ./data:/data
    depends_on:
      - db

  api:
    build: ./api
    container_name: api_server
    env_file:
      - .env
    volumes:
      - ./api:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - etl

volumes:
  db_data:
